body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #fff;
    padding-left: 270px; /* To prevent content from being overlapped by the sidebar */
    padding-right: 20px; /* Optional: to add some spacing on the right side */
}

.sidebar {
    width: 270px;
    height: 100%;
    background-color: #202738;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    font-family: Gill Sans, sans-serif;
    font-size: 1.5rem;
    color: white;
}

.logo {
    text-align: center;
    margin-bottom: 75px;
}

.logo img {
    height: 100px;
}

.logo h2 {
    margin: 10px 0 0;
    color: white;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #c3b091;
    color: #000;
    transition: all 0.3s ease-out;
}

.btn {
    background-color: #c3b091;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

.btn:hover {
    background-color: #919c70;
    color: white;
    transition: all 0.3s ease-out;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #000;
    color: #fff;
}

.button:hover {
    transition: all 0.3s ease-out;
    background: #919c70;
    color: #fff;
}

.links:hover {
    transition: all 0.3s ease-out;
    background: #919c70;
    color: #c0c0c0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: calc(100% - 320px); 
    width: 400px;
    margin: 200px auto;
}
.container.hidden {
    display: none; /* Hides the container and its content */
}

#menuRatings {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: calc(100% - 320px);
    width: 400px;
    margin: 200px auto;
}


.container h1 {
    font-size: 24px;
    margin: 0;
}

.chatbox-container input{
    width: 60%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rating {
    font-size: 20px;
    margin: 10px 0;
}

.stars {
    font-size: 30px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    margin: 0 5px;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.reviews {
    margin-top: 20px;
    text-align: left;
}

.review {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.review p {
    margin: 0;
}
